#header {
	font-weight: bold;
	text-align: center;
	background-color: white;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 25px;
	 word-spacing: 2px;

}

#nav {
	background-color: #EEEEEE;
	text-align: center;
	width: 170px;
	float: left;
	padding: 10px 10px 10px 10px;
	
}

body {
	
	background-image: url("usc+photo.jpg");
	font-family: Helvetica, Arial;
	link: #0000EE;
	vlink: #551A8B;
	alink: #336633;
	overflow: hidden;
	
}

a {
	text-decoration: none;
}

#nav a {
	color: #3366ff;
}

#main tr:hover {
	background-color:#f5f5f5;
}

#container {
	
	width: 950px;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 25px;
}

#browse {
	font-family: Helvetica, Arial;
	font-size: 4px;
	background-color: white;
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 25px;
	
}

#homesearch {
	font-family: Helvetica, Arial;
	font-size: 4px;
	background-color: white;
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 25px;
}


#main {
	width: 750px;
	float: right;
	overflow-y: scroll;
    height: 510px;
    background-color: white;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

#footer {
	
	clear: both;
	color: black;
	text-align: center;
}